<% include partials/header6 %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h1>About Us</h1>
				<p>
					LABS is an online platform aimed at allowing students and lab assistants easy access to the school labs' equipment and everyday schedule.
				</p>
				<br>
				<p>
					LABS will allow already busy students to complete their lab experiments within their time constraints by eliminating the time taken to acquire and set up all required equipment.
				</p>
				<hr>
				<h2>How it works</h2>
				<h4>Equipment</h4>
				<p>
					The LABS equipment page allows students to check out all the equipment available in the school labs from the comfort of their own homes. Experiments can easily be planned knowing the full range of available equipment.
				</p>
				<h4>Orders</h4>
				<p>
					On the other hand, the LABS order page allows students to book equipment for a particular period in advance, allowing lab assistants ample time to collect the apparatus and set up the experiment.
				</p>
			</div>
		</div>
	</div>
</div>


<% include partials/footer %>
