<% include partials/header7 %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h1>Contact Us</h1>
				<img src="https://us.123rf.com/450wm/auremar/auremar1201/auremar120100843/11775024-portrait-of-a-lab-assistant.jpg?ver=6">
				<h1>Mr. Vijith</h1>
				<p>
					Mr. Vijith, GMA's resident physics lab assitant, is always on hand to help out with experiments. If you can't find him in the labs, contact him here:
				</p>
				<p>
					<strong>Email Address: </strong> vijith.p_mhs@gemsedu.com
				</p>
			</div>
		</div>
	</div>
</div>


<% include partials/footer %>
