<% include partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h1>LABS</h1>
				<h3>Your One-Stop Online Lab</h3>
				<hr>
        <form action="choice">
          <button class="btn btn-default btn-lg"><i class="fas fa-microscope"></i> Get Started</button>
        </form>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
