<% include partials/header5 %>

<div class="ui main text container segment">
	<div class="ui huge header">Add New Equipment</div>
	<form class="ui form" action="/eqList" method="POST">
		<div class="field">
			<label>Name</label>
			<input type="text" name="equipment[name]">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="equipment[image]">
		</div>
		<div class="field">
			<label>Description</label>
			<textarea name="equipment[description]"></textarea>
		</div>
		<input id="submit" class="ui huge orange basic button btn-block" type="submit">
	</form>
</div>

<% include partials/footer%>
